#yellow {
	background-color: #ffc03a;
}

.middle {
	width: 245px;
	float: right;
}

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 62.5%;
	font-family: arial, sans-serif;
	color: #221F51;
}

.wrapper {
	font-size: 1.6em;
	padding: 2em;
	margin: 0 auto;
	width: 990px;
	overflow: hidden;
	background-color: white;
}

.blue {
	border-radius: 25px;
	background-color: rgb(86, 164, 184);
	text-align: center;
	margin-top: 2em;
}

p {
	display: inline;
}

.option {
	padding: 10 10 10 10;
	background-color: white;
	border-radius: 10px;
	display: inline-block;
	margin: 20 50 20 50;
	vertical-align: top;
}

iframe, .brick-wrapper{
	display: block;
    width:100%;
    height: 100%;
    margin: auto;
	margin-top: 2em;
}

.logo {
	width: 40%;
	height: auto;
	margin-bottom: 2em;
}

.loading {
	max-width: 200px;
	margin: 0 auto;
	display: none;
}

